{
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 80,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "interface",
    "(?=content|api)",
    "pages/",
    "mock/",
    "hooks/",
    "utils/",
    "(components/|./index)",
    ".svg",
    "^../(.*)$",
    "(?=./styles.module.scss)"
  ]
}
